*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .footer{
    background-color: dark blue;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 8, 110, 0.497);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;

}